@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Syne", sans-serif;
    font-optical-sizing: auto; /* Optical sizing */
    font-weight: 400; /* You can change this value dynamically */
    font-style: normal;
    line-height: 120%;
  }
}
